@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,600&display=swap');/* header */
*{
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 50px;
    color: rgb(255, 255, 255);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    background: rgb(49, 24, 74)
}
.head{
    width: 98%;
    margin: auto;
}
section h1{
color: rgb(255, 255, 255);
float: left;
font-size: 30px;
}
header label{
    float:right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}
#checkbox{
    display: none;
}
.menu{
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background: rgba(51, 51, 51, 0.9);
    transition: all 0.5s;
    transform: translateX(-100%);
}
.menu a{
    display: block;
    color: white;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.menu a:hover{
    background: rgba(255, 255, 255, 0.3);
}
#checkbox:checked ~ .menu{
    transform: translateX(0%);
}

/* main */
body{
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
                  url("../src/fondos/fondo-gatos2.jpg");
    font-family: 'Poppins', sans-serif;
}   
form{
    width: 450px;
    margin: auto;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 80px;
    border-radius: 7px;
}
h2{
    color: white;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}
input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}
textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

#boton{
    background: #31184a;
    color: #fff;
    padding: 20px;
}
#boton:hover{
    cursor:pointer;
}


/* footer */

footer{
    flex-direction: row;
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
    url("../src/img/footer.jpg");
    background-size: 100%;
    margin:0;
    overflow-y: auto;
}
