@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,600&display=swap');

body{
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
                  url("../src/fondos/fondo-gatos2.jpg");
    background-size: 60vw 100vh;
    background-attachment: fixed;
    margin:0;
    font-family: 'Poppins', sans-serif;
}   

form{
    width: 450px;
    margin: auto;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 80px;
    border-radius: 7px;
}

h2{
    color: white;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}

input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

.location{
    text-align: center;
    margin-top: 25px;
}
#boton{
    background: #31184a;
    color: #fff;
    padding: 20px;
}

#boton:hover{
    cursor:pointer;
}

@media(max-width: 360px){
    form{
        width: 100%;
    }
}