*{
    font-size: 1.08em;
}

main{
    text-align: left;
    width: auto;
    border-radius: 10px;
    padding: 1px 5px;
    color: #fff;
}
h2{
    text-align: center;
    font-family:ComicSansMS;
    color:rgb(70, 167, 205);
    font-size: 0.8em;
    padding-top: 10%;
    }
h3{
    text-align: left;
    font-family:ComicSansMS;
    color:rgb(70, 167, 205);
    font-size: 0.8em;
    padding-top: 10%;
    margin-left: 20%;
    }
h4{
    text-align: center;
    font-family:ComicSansMS;
    color:rgb(3, 3, 3);
}
h5{
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}
h6{
    text-align: justify ;
    font-family:ComicSansMS;
    color:rgb(87, 135, 154);
   }

p{
    text-align: left;
    }
a{
    text-decoration: none;
    color:rgb(70, 167, 205);
    font-size: 90%;
    }
a:hover{
    background: hsl(0, 0%, 95%);
    color: rgb(127, 206, 255);
}

header{
    animation: mymove 2s infinite both;
}

header h1{
    text-align: center;
    font-size: 1.8em;
}
.fa-solid,.fa-cat{
    text-align: center;
    font-size: 1.8em;
}
header img {
    width: 100%;
    height: auto;
}

.img_inner{
    border-radius: 100%;
}

iframe{
    display: grid;
    border-radius: 20px;
    margin-top: 10%;
    overflow: hidden;
}    
    
footer{
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
    url("../src/img/footer.jpg");
    background-size: 100%;
    background-attachment: fixed;
    margin:0;
    overflow-y: auto;
    flex-direction: row;
}



.redes{
    align-items: center;
}     
.nav_menu{
    font-size: 1.08em;
    display:inline-block;
    width: auto;
    border-radius:  0.6em;
    padding: 0.4em;
    margin:15px;
    color:rgb(0, 60, 128);
    text-decoration: none;
    background:#48f3ff;
}
.nav_menu_activo{
    font-size: 1.08em;
    display:inline-block;
    width: auto;
    border-radius:  0.6em;
    padding: 0.4em;
    margin:15px;
    color:rgb(134, 200, 160);
    text-decoration: none;
    background:#05454a;
}


.aside{ 
    grid-area: 3 / 1 / 4 / 2;
    background-color:#F5D971;
    background-image: linear-gradient(#F5D971, #ffc800);
    align-items: center; 
    }
.main{ 
    grid-area: 3 / 2 / 4 / 3;
    background-image: linear-gradient(#ffffff, #48f3ff);
        overflow: hidden;
    }
.nav{
    grid-area: 2 / 1 / 3 / 3;
    background-image: linear-gradient(#F5D971, #ffc800);
    padding: 0.1em;
}      


.responsive{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    grid-template-rows: auto;
} 

.container{
    display: grid;
    grid-gap:3px;
    grid-template-rows: 0% 15% 85%;
    grid-template-columns: 30% 70%;
    height: 65vh;
    margin-bottom: 9px;
    }
.item{
    text-align: center;
    }

@media only screen and (max-width:629px){
a:hover{
    background-color: #fff;
    color: rgb(127, 206, 255);
}
.aside{ 
    grid-area: 12 / 1 / 13 / 2;
    background-color:#F5D971;
    background-image: linear-gradient(#F5D971, #ffc800);
    }
.main{ 
    grid-area: 3 / 1 / 12 / 2;
    }
.nav{
    grid-area: 2 / 1 / 3 / 2;
    padding-bottom:1em;
    }   
.responsive{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    grid-template-rows: auto;
}
footer{
    flex-direction: row;
}
.container{
    display: grid;
    grid-template-rows: 0 15% 85%;
    grid-template-columns: 100%;
    overflow-y:auto;
    flex-grow: 1;
    height: 115vh;
    }
    .item{
text-align: center;
}
footer{
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
    url("../src/img/footer.jpg");
    background-size: 100%;
    background-attachment: fixed;
    margin:0;
    overflow-y: auto;
    }
}

/* footer */
footer .titulo-footer,
footer div h2,
footer .copy{
    color: #4b82e2;
}
footer p{
    text-align: center;
}
.redes{
    display: flex;
    justify-content: center;
}
.redes i{
    font-size: 30px;
    padding: 0 20px;
    margin-bottom: 10px;
    color: #4b82e2;
}
i:hover{
    cursor: pointer;
}
@keyframes mymove {
    from {background-image: linear-gradient(rgba(0, 247, 255, 0.5), rgba(255, 255, 0, 0.5));}
    to {background-image: linear-gradient( rgba(255, 255, 0, 0.5),rgba(0, 247, 255, 0.5));}
}