*{
    font-size: 1.04em;
}

h1{
    text-align: center;
    font-family:ComicSansMS;
    color:rgb(0, 60, 128);
    font-size: 1.5em;
    padding-top: 5%;
    width: auto;
    font-family: ComicSansMS;
    font-weight: 700;
    background-color: rgb(127, 206, 255);
    border-radius: 10px;
    padding: 4px 5px;
    color: #fff;
    }
h3{
    text-align: left;
    font-family:ComicSansMS;
    color:rgb(70, 167, 205);
    font-size: 0.8em;
    padding-top: 10%;
    }
h4{
    text-align: center;
    font-family:ComicSansMS;
    color:green;
    }
h5{
    text-align: center;
    }
h6{
    text-align: justify ;
    font-family:ComicSansMS;
    color:rgb(87, 135, 154);
   }

p{
    text-align: left;
    }
a{
    text-decoration: none;
    color:rgb(70, 167, 205);
    font-size: 90%;
    }
a:hover{
    background: hsl(0, 0%, 95%);
    color: rgb(127, 206, 255);
    }
.nav_menu{
    display:inline-block;
    width: auto;
    font-family: ComicSansMS;
    font-weight: 700;
    background-color: rgb(127, 206, 255);
    border-radius: 10px;
    padding: 4px 5px;
    color: #fff;
    text-decoration: none;
}
.nav_menu:hover{
    background: hsl(0, 0%, 95%);
    border: 1px solid rgb(127, 206, 255);
}

.aside{ 
    grid-area: 3 / 1 / 4 / 2;
    background-color:#F5D971;
    background-image: linear-gradient(#F5D971, #ffc800);
    }
.main{ 
    grid-area: 3 / 2 / 4 / 3;
    background-color: #ffffff;
    background-image: linear-gradient(#ffffff, #48ff51);
    }
.nav{
    grid-area: 2 / 1 / 3 / 3;
    background-color:#F5D971;
    background-image: linear-gradient(#F5D971, #ffc800);
    padding: 0.1em;
}      
.nav:hover{
        background-color: rgb(127, 206, 255);
    }

header,footer{
    flex-direction: row;
footer{
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
    url("../src/img/footer.jpg");
    background-size: 100%;
    background-attachment: fixed;
    margin:0;
    overflow-y: auto;
    }
}
.responsive{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    grid-template-rows: auto;

.item_gal{
    transition: background-color 1s;
}    
}
.item_gal:hover {
    border: 1px solid rgb(127, 206, 255);
    transform:scale(1.2,1.2);
    background-color: #9fc00b;
    
}
img{
    display: grid;
    height: 15vh;
    width: 100%;
}    
.container{
    display: grid;
    grid-gap:2px;
    grid-template-rows: 0 10% 90%;
    grid-template-columns: 30% 70%;
    height: 85vh;
    }
    .item{
        text-align: center;
        
        }

@media only screen and (max-width:768px){
    a:hover{
        background-color: #fff;
        color: rgb(127, 206, 255);
    }
    .aside{ 
        grid-area: 12 / 1 / 13 / 2;
        background-color:#F5D971;
        background-image: linear-gradient(#F5D971, #ffc800);
        }
    .main{ 
        grid-area: 3 / 1 / 12 / 2;
        background-color: #5BA834;
        }
    .nav{
        grid-area: 2 / 1 / 3 / 2;
        background-color: #F5D971;
   
        }   
        .responsive{
            display: grid;
            grid-template-columns: 50% 50%;
            align-items: center;
            grid-template-rows: auto;
        }
        header,footer{
            flex-direction: row;
        }
    .container{
            display: grid;
            grid-template-rows: 0 10% 75% auto;
            grid-template-columns: 95%;
            overflow-y:auto;
            flex-grow: 1;
            height: 85vh;
            }
            .item{
                text-align: center;
                }
                footer{
                    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
                    url("../src/img/footer.jpg");
                    background-size: 100%;
                    background-attachment: fixed;
                    margin:0;
                    overflow-y: auto;
                    }
            }
    @media only screen and (max-width:425px){
        a:hover{
            background-color: #fff;
            color: rgb(127, 206, 255);
        }
        .aside{ 
            grid-area: 12 / 1 / 13 / 2;
            background-color:#F5D971;
            background-image: linear-gradient(#F5D971, #ffc800);
            }
        .main{ 
            grid-area: 3 / 1 / 12 / 2;
            background-color: #5BA834;
            }
        .nav{
            grid-area: 2 / 1 / 3 / 2;
            background-color: #F5D971;
       
            }   
            .responsive{
                display: grid;
                grid-template-columns: 100%;
                align-items: center;
                grid-template-rows: auto;
            }
        header,footer{
                flex-direction: row;
            }
        .container{
                display: grid;
                grid-template-rows: 0 10% 75% auto;
                grid-template-columns: 95%;
                overflow-y:auto;
                flex-grow: 1;
                height: 85vh;
                }
        .item{
            text-align: center;
            }
        footer{
            background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
            url("../src/img/footer.jpg");
            }
        }