*{
    font-size: 1.04em;
}
header{ 
     background-color: #000000;
     }
ul {
        list-style-type: none;
        box-sizing: border-box;
      }
li{
    margin:1px;
    display: inline;
}
a:hover{
    color: #c71919;
}
.aside{ 
    grid-area: 3 / 1 / 4 / 2;
    background-color:#F5D971;
    background-image: linear-gradient(#F5D971, #ffc800);
    }
.main{ 
    grid-area: 3 / 2 / 4 / 3;
    background-color: #ffffff;
    background-image: linear-gradient(#ffffff, #48ff51);
    }
.nav{
    grid-area: 2 / 1 / 3 / 3;
    background-color:#F5D971;
    background-image: linear-gradient(#F5D971, #ffc800);
}      
.nav:hover{
        background-color: #ec3700;
    }
header,footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 15vh;
}
.responsive{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    grid-template-rows: auto;
    
}
.item_gal:hover {
    border: 1px solid #d82e2e;
    transform:scale(1.2,1.2);
    background-color: #9fc00b; 
    
}
img{
    display: grid;
    height: 15vh;
    width: 100%;
}    
.container{
    display: grid;
    grid-gap:2px;
    grid-template-rows: 0 10% 90%;
    grid-template-columns: 30% 70%;
    height: 85vh;
    }
    .item{
        text-align: center;
        }
    footer{
        overflow-y: auto;           
    }

@media only screen and (max-width:768px){

    
    ul {
            list-style-type: none;
            box-sizing: border-box;
          }
    li{
        margin:1px;
        display: inline;
    
    }
    a:hover{
        color: #c71919;
    }
    .aside{ 
        grid-area: 12 / 1 / 13 / 2;
        background-color:#F5D971;
        background-image: linear-gradient(#F5D971, #ffc800);
        }
    .main{ 
        grid-area: 3 / 1 / 12 / 2;
        background-color: #5BA834;
        }
    .nav{
        grid-area: 2 / 1 / 3 / 2;
        background-color: #F5D971;
   
        }   
        .responsive{
            display: grid;
            grid-template-columns: 50% 50%;
            align-items: center;
            grid-template-rows: auto;
        }
    header,footer{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            text-align: center;
            height: 15vh;
            }
    .container{
            display: grid;
            grid-template-rows: 0 10% 75% auto;
            grid-template-columns: 95%;
            overflow-y:auto;
            flex-grow: 1;
            height: 85vh;
            }
            .item{
                text-align: center;
                }
            footer{
                overflow-y: auto;  
            }}
    @media only screen and (max-width:425px){

    
        ul {
                list-style-type: none;
                box-sizing: border-box;
              }
        li{
            margin:1px;
            display: inline;
        }
        a:hover{
            color: #c71919;
        }
        .aside{ 
            grid-area: 12 / 1 / 13 / 2;
            background-color:#F5D971;
            background-image: linear-gradient(#F5D971, #ffc800);
            }
        .main{ 
            grid-area: 3 / 1 / 12 / 2;
            background-color: #5BA834;
            }
        .nav{
            grid-area: 2 / 1 / 3 / 2;
            background-color: #F5D971;
       
            }   
            .responsive{
                display: grid;
                grid-template-columns: 100%;
                align-items: center;
                grid-template-rows: auto;
            }
        header,footer{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: center;
                text-align: center;
                height: 15vh;
                }
        .container{
                display: grid;
                grid-template-rows: 0 10% 75% auto;
                grid-template-columns: 95%;
                overflow-y:auto;
                flex-grow: 1;
                height: 85vh;
                }
                .item{
                    text-align: center;
                    }
                footer{
                    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
                    url("../src/img/footer.jpg");
                    background-size: 100%;
                    background-attachment: fixed;
                    margin:0;
                    overflow-y: auto;
                    }
        }