h1{
    text-align: center;
    font-family:ComicSansMS;
    color:green;
    }
h3{
    text-align: left;
    font-family:ComicSansMS;
    color:rgb(70, 167, 205);
    }
h4{
    text-align: center;
    font-family:ComicSansMS;
    color:green;
    }
h5{
    text-align: center;
    }
h6{
    text-align: justify ;
    font-family:ComicSansMS;
    color:rgb(87, 135, 154);
   }

p{
    text-align: center;
    }
    
.container{
    text-align: center;
    }

footer{
    background: #31184a;
    padding: 15px;
    height: 150px;
    bottom: 0;
    width: 100%;
    }
footer .titulo-footer,
footer div h2,
footer .copy{
    color: #000000;
}
.redes{
    display: flex;
    justify-content: center;
}
.redes i{
    font-size: 30px;
    padding: 0 20px;
}
i:hover{
    cursor: pointer;
}
