*{font-size: 100%;}
header,footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    height: 15vh;
    }
.container{
    display: grid;
    grid-template-rows: 0 10% 90%;
    grid-template-columns: 30% 70%;
    height: 80vh;
    }
header{ 
     background-color: #A89756;
     }
header:hover{
    background-color: #000;
    }
.nav{
    grid-area: 2 / 1 / 3 / 3;
    background-color: #F5D971;
    }
li{
    flex-direction: row;
    flex-wrap: wrap;


}
a:hover{
    color: #c71919;
}
.aside{ 
    grid-area: 3 / 1 / 4 / 2;
    background-color: #A864F5;
    }
.main{ 
    grid-area: 3 / 2 / 4 / 3;
    background-color: #5BA834;
    }
.item{
    text-align: center;
    }
footer{
    background-color: #8CF558;
    }