*{
    font-size: 1.04em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    display: inline;
    background:#48f3ff;
    padding: 0.4em;
    margin: 15px;
    border-radius: 0.6em;
}
a{
    text-decoration: none;
}
a:hover{
    color: rgb(70, 167, 205);
}
li:hover{
    background: #ffffff;
}

.nav_menu{
    font-size: 1.08em;
    display:inline-block;
    width: auto;
    border-radius:  0.6em;
    padding: 0.4em;
    margin:15px;
    color:rgb(0, 60, 128);
    text-decoration: none;
    background:#48f3ff;
}
.nav_menu_activo{
    font-size: 1.08em;
    display:inline-block;
    width: auto;
    border-radius:  0.6em;
    padding: 0.4em;
    margin:15px;
    color:rgb(134, 200, 160);
    text-decoration: none;
    background:#05454a;
}


.main{ 
    grid-area: 3 / 2 / 4 / 3;
    overflow: hidden;
    margin-top: 3px;
    }
.nav{
    grid-area: 2 / 1 / 3 / 3;
    background-image: linear-gradient(#F5D971, #ffc800);
    padding-bottom:5em;

}      

.responsive{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    grid-template-rows: auto;
} 

.container{
    display: grid;
    grid-gap:3px;
    grid-template-rows: 0% 10% 90%;
    grid-template-columns: 100%;
    height: 130vh;
    background-image: linear-gradient(#ffffff, #48f3ff);
    margin-bottom: 3px;
    }
.item{
        text-align:center;
        }



/*///////////////////////////////////////*/
.dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    background: #48f3ff;
    position: absolute;
    z-index: 1;
    border-radius: 10px;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  /* Estilos para los elementos de la lista */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {
    background-color: #6b5c5c;
  }/*/////////////////////////////////*/
  
main{ 
    background-color: #ffffff;
    background-image: linear-gradient(#ffffff, #48f3ff);
}
.nav{
    grid-area: 2 / 1 / 3 / 2;
    background-image: linear-gradient(#F5D971, #ffc800);
    padding-top: 1.2em;
    animation-name: container_move;
    animation-duration: 2s;
    height: 80px;
}

header{
    animation: mymove 2s infinite both;
}
header h1{
    text-align: center;
    font-size: 1.8em;
}
.fa-solid,.fa-cat{
    text-align: center;
    font-size: 1.8em;
}
header img{
    width: 100%;
    height: auto;
}
@keyframes mymove {
    from {background-image: linear-gradient(rgba(0, 247, 255, 0.5), rgba(255, 255, 0, 0.5));}
    to {background-image: linear-gradient( rgba(255, 255, 0, 0.5),rgba(0, 247, 255, 0.5));}
}



div.gal{
    text-align: center;
    font-family:ComicSansMS;
    color:rgb(0, 60, 128);
    font-size: 1.5em;
    padding-top: 5%;
    width: auto;
    font-family: ComicSansMS;
    font-weight: 700;
    background-color: rgb(127, 206, 255);
    border-radius: 10px;
    padding: 4px 5px;
    color: #fff;
}

h2{
    text-align: center;
    font-family:ComicSansMS;
    color:rgb(31, 63, 76);
    font-size: 0.8em;
    margin-top: 30px;
    margin-bottom: 20px;
    }

h3{
    text-align: left;
    font-family:ComicSansMS;
    color:rgb(44, 91, 109);
    font-size: 0.8em;
    margin-top: 10px;
    margin-left: 10%;
    margin-bottom: 20px;
    }
h4{
    text-align: center;
    font-family:ComicSansMS;
}
h5{
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}



p{
    text-align: left;
    }
a{
    text-decoration: none;
    color:rgb(70, 167, 205);
    }
a:hover{
    background: hsl(0, 0%, 95%);
    color: rgb(127, 206, 255);
}

    


.img_galeria{
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 20%;
    margin-bottom: 20px;
    height: 300px;

} 

.redes{
    align-items: center;

} 
    .item{
            text-align: center;
            }
/* carrousel */

.carrousel{
    width: 100%;
}

.conteCarrousel{
    width: auto;
    height: 800px;
    overflow-y: hidden;

}

.itemCarrousel{
    position: relative;
    width: 100%;

}

.itemCarrouselTarjeta{
    width: 80%;
}

.itemCarrouselArrows{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px; 
}

.itemCarrouselArrows > i:hover {
    cursor: pointer;
}

#itemCarrousel-1{
    background-color: rgb(212, 146, 146);
}

#itemCarrousel-2{
    background-color: rgb(212, 146, 146);
}

#itemCarrousel-3{
    background-color: rgb(188, 199, 128);
}
#itemCarrousel-4{
    background-color: rgb(161, 214, 223);
}
#itemCarrousel-5{
    background-color: rgb(143, 110, 162);
}

.conteCarrouselController{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.conteCarrouselController > a{
    text-decoration: none;
    color: grey;
}

.itemCarrouselArrows > a > i{
    color: white;
}
/* footer */
footer{
    flex-direction: row;
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
    url("../src/img/footer.jpg");
    background-size: 100%;
    background-attachment: fixed;
    margin:0;
    overflow-y: auto;
}
.redes{
    display: flex;
    justify-content: center;
    color: #4b82e2;
}
.redes i{
    font-size: 30px;
    padding: 0 20px;
    margin-bottom: 10px;
}
footer p{
    text-align: center;
}
